<header class="container">
  <div class="row pt-2">
    <div class="col">
      <h1 id="page-title" class="text-dark text-center">
        you have successfully deployed it <span class="text-danger">awsome work</span>
      </h1>
      <hr>
      <h2 class="text-right">
        <span class="badge badge-info">Version: 1.0</span>
      </h2>
    </div>
  </div>
</header>

<main class="container">
  <div class="row pt-2">
    <div class="col">
      <p class="lead">
        Congratulations! You successfully built and deployed your code.
      </p>
      <p class="lead">
        This is a simple single-page calculator app developed using Angular 9<strong>AWS CodePipeline Step by Step</strong>.
      </p>
      <app-calculator></app-calculator>
    </div>
  </div>
</main>

<router-outlet></router-outlet>
